.gradle/
.idea/
/build
/buildSrc/build/
/gradle/
/gradlew
/gradlew.bat
/wrapper/
.DS_Store
.jqwik-database
*.iml
.classpath
.factorypath
.project
.settings/
bin/
# Ignore changes to gradle.properties because we enter passwords here for releases
/gradle.properties
