[package]

name = "cedar-java-ffi"
edition = "2021"


version = "2.0.0"

[dependencies]
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"
cedar-policy = { version = "~2.4" }

# JNI Support
jni = "0.20.0"
jni_fn = "0.1.0"


# Dynamic linked library, used for linked to java process at runtime.
[lib]
crate_type = ["cdylib"]

