name: Build & Test

on:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  get-branch-name:
    runs-on: ubuntu-latest
    steps:
      - name: Get branch name
        shell: bash
        # The workflow is triggered by pull_request so we use `GITHUB_BASE_REF`
        run: echo "branch_name=${GITHUB_BASE_REF}" >> $GITHUB_OUTPUT
        id: get_branch_name

    outputs:
      branch_name: ${{ steps.get_branch_name.outputs.branch_name }}

  run_cedar_java:
    name: run_cedar_java
    needs: get-branch-name
    uses: ./.github/workflows/run_cedar_java_reusable.yml
    with:
      cedar_policy_ref: "refs/heads/release/4.0.x" # use the latest commit on main
      cedar_java_ref: "${{ github.href }}" # use the current PR's commit
