name: Cargo Build & Test

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test_cedar_java_ffi:
    name: Rust project - latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - name: Checkout Cedar Examples
        uses: actions/checkout@v3
      - name: Checkout cedar
        uses: actions/checkout@v3
        with:
          repository: cedar-policy/cedar
          ref: main
          path: ./cedar
          ssh-key: ${{ secrets.CEDAR }}
      - name: rustup
        run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - name: cargo fmt
        working-directory: ./CedarJavaFFI
        run: cargo fmt --all --check
      - name: cargo rustc
        working-directory: ./CedarJavaFFI
        run: RUSTFLAGS="-D warnings -F unsafe-code" cargo build --verbose
      - name: cargo test
        working-directory: ./CedarJavaFFI
        run: cargo test --verbose
      - name: Build CedarJava
        working-directory: ./CedarJava
        shell: bash
        run: ./gradlew build -x test --max-workers=1
      - name: Integration Test CedarJava
        working-directory: ./CedarJava
        shell: bash
        run: ./gradlew integrationTest --tests "*testSingleThread"