name: Cargo Build & Test

on:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test_cedar_java_ffi:
    name: Rust project - latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - name: Checkout Cedar Examples
        uses: actions/checkout@v3
      - name: Checkout cedar
        uses: actions/checkout@v3
        with:
          repository: cedar-policy/cedar
          ref: main
          path: ./cedar
      - name: rustup
        run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - name: cargo fmt
        working-directory: ./CedarJavaFFI
        run: cargo fmt --all --check
      - name: configure
        working-directory: ./CedarJava
        shell: bash
        run: bash config.sh run_int_tests
      - name: cargo rustc
        working-directory: ./CedarJavaFFI
        run: RUSTFLAGS="-D warnings -F unsafe-code" cargo build --verbose
      - name: cargo test
        working-directory: ./CedarJavaFFI
        run: cargo test --verbose
      - name: Setup upterm session
        uses: lhotari/action-upterm@v1
      - name: Build CedarJava
        working-directory: ./CedarJava
        shell: bash
        run: tail build.gradle && export MUST_RUN_CEDAR_INTEGRATION_TESTS=1 && ./gradlew build
